langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langgraph
duckdb
fastapi
uvicorn
faiss-cpu
openai
python-dotenv
pydantic
pandas
numpy
pyarrow
sentence-transformers
pypdf
pytest