langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langgraph

langchain-groq

duckdb
pandas
numpy
pyarrow
scipy
matplotlib
tabulate

fastapi
uvicorn
pydantic
httpx

faiss-cpu
sentence-transformers
pypdf
chromadb
tiktoken

python-dotenv

pytest
langsmith